@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brand-color: #00df5e;
  --text: #f9f9f9;
  --text-secondary: #828282;
  --bg: #171717;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--text);
  background: var(--bg);
  height: 100vh;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px 20px;
  background: #212121;
}

.menu h1 {
  font-size: 26px;
  font-weight: 700;
}

.menu button {
  display: none;
}

.menu .menu-ul-menu-hamburguer {
  display: none;
}

.menu .menu-ul {
  list-style: none;
  display: flex;
  gap: 45px;
}

.menu .menu-ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
  font-weight: 400;
}

.menu .menu-ul a:hover {
  color: var(--brand-color);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 116px 150px 0;
}

.main .left {
  display: grid;
  justify-items: start;
}

.main .left h1 {
  width: 60%;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin: 0 0 18px;
}

.main .left p {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: var(--text-secondary);
  margin: 0 0 35px;
}

.main .left .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main .left button {
  width: 143px;
  height: 42px;
  cursor: pointer;
  border-radius: 10px;
}

.main .left .buttons .download {
  background: var(--brand-color);
  border: none;
  color: var(--bg);
  font-size: 14px;
  font-weight: 600;
}

.main .left .buttons .download:hover {
  background: #01ff6b;
}

.main .left .buttons .contato {
  background: var(--bg);
  border: 1px solid #333333;
  color: var(--text);
  font-size: 14px;
  font-weight: 600;
}

.main .left .buttons .contato:hover {
  background: #2a2a2a;
}

.main .right img {
  width: 300px;
  height: 254.47px;
}

.about-me {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 160px 150px 0;
  text-align: center;
}

.about-me h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 30px;
}

.about-me .sobremim {
  color: var(--text-secondary);
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 100px;
  width: 80%;
}

.about-me .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 160px;
}

.about-me .icons div img {
  margin: 0 0 19px;
}

.about-me .icons div h1 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 5px;
}

.about-me .icons div p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--text-secondary);
}

.projects {
  display: grid;
  justify-items: center;
  margin: 127px 150px 0;
}

.projects h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 30px;
}

.projects .projects-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.projects .projects-boxes .box {
  display: grid;
  background: #212121;
  padding: 20px 25px;
  border-radius: 10px;
}

.projects .projects-boxes .box img {
  width: 300px;
  height: 130px;
  margin: 0 0 23px;
}

.projects .projects-boxes .box h1 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin: 0 0 6px;
}

.projects .projects-boxes .box p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: var(--text-secondary);
}

.services {
  display: grid;
  justify-items: center;
  margin: 127px 150px 0;
}

.services h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 30px;
}

.services .services-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.services .services-boxes .box {
  display: grid;
  background: #212121;
  border-radius: 10px;
}

.services .services-boxes .box img {
  width: 56px;
  height: 56px;
  margin: 30px 0 40px 30px;
}

.services .services-boxes .box h1 {
  font-size: 32px;
  font-weight: 500;
  color: var(--text-secondary);
  width: 40%;
  margin: 0 0 25px 30px;
}

.services .services-boxes .box .bottom {
  width: 349px;
  height: 5px;
  background: var(--brand-color);
}

.skills {
  display: grid;
  justify-items: center;
  margin: 127px 0;
}

.skills h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 30px;
}

.skills .skills-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.skills .skills-boxes .box {
  padding: 35px;
  background: #212121;
  border-radius: 10px;
}

.skills .skills-boxes .box img {
  width: 80px;
  height: 80px;
}

.final {
  display: grid;
  justify-items: center;
  margin: 185px 0 0;
  padding: 20px 0;
  width: 100%;
  background: #212121;
}

.final h1 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 500;
}

.final span {
  color: var(--brand-color);
}

@media (max-width: 1300px) {
  .about-me .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .projects .projects-boxes {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .services .services-boxes {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .skills .skills-boxes {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px;
  }
}

@media (max-width: 900px) {
  .menu {
    padding: 24px 24px 24px;
  }

  .menu h1 {
    font-size: 20px;
  }

  .menu button {
    display: block;
    width: 28px;
    height: 11px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu .menu-ul-menu-hamburguer {
    display: none;
    list-style: none;
    position: absolute;
    top: 74px;
    left: 0;
    padding: 20px;
    width: 100%;
    background: #212121;
  }

  .menu-ul-menu-hamburguer.active {
    display: flex;
    gap: 45px;
  }

  .menu .menu-ul-menu-hamburguer li a {
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
  }

  .menu .menu-ul-menu-hamburguer a:hover {
    color: var(--brand-color);
  }

  .menu .menu-ul {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
    margin: 120px 45px 0;
  }

  .main .left {
    align-items: center;
    justify-items: center;
  }

  .main .left h1 {
    width: 60%;
    font-size: 24px;
    text-align: center;
    margin: 0 0 8px;
  }

  .main .left p {
    font-size: 16px;
    text-align: center;
    margin: 0 0 32px;
    width: 60%;
  }

  .main .left .buttons {
    gap: 12px;
  }

  .main .left button {
    width: 150px;
  }

  .main .right {
    display: none;
  }

  .about-me {
    margin: 56px 24px 0;
  }

  .about-me h1 {
    font-size: 24px;
    margin: 0 0 14px;
  }

  .about-me .sobremim {
    font-size: 14px;
    margin: 0 0 56px;
    width: 90%;
  }

  .about-me .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .about-me .icons div img {
    margin: 0 0 14px;
    width: 45px;
    height: 45px;
  }

  .about-me .icons div h1 {
    font-size: 14px;
    margin: 0 0 3px;
  }

  .about-me .icons div p {
    font-size: 12px;
  }

  .projects {
    display: grid;
    justify-items: center;
    margin: 56px 24px 0;
  }

  .projects h1 {
    font-size: 24px;
    margin: 0 0 32px;
  }

  .projects .projects-boxes {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .projects .projects-boxes .box {
    padding: 15px 20px;
  }

  .projects .projects-boxes .box img {
    width: 200px;
    height: 130px;
    margin: 0 0 8px;
  }

  .projects .projects-boxes .box h1 {
    font-size: 13px;
    margin: 0 0 4px;
  }

  .projects .projects-boxes .box p {
    font-size: 10px;
  }

  .services {
    margin: 56px 24px 0;
  }

  .services h1 {
    font-size: 24px;
    margin: 0 0 42px;
  }

  .services .services-boxes {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .services .services-boxes .box {
    width: 311px;
    height: 140px;
  }

  .services .services-boxes .box img {
    width: 40px;
    height: 40px;
    margin: 30px 0 8px 30px;
  }

  .services .services-boxes .box h1 {
    font-size: 18px;
    width: 100%;
  }

  .services .services-boxes .box .bottom {
    width: 310px;
    height: 3px;
  }

  .skills {
    margin: 56px 0;
  }

  .skills h1 {
    font-size: 24px;
    margin: 0 0 24px;
  }

  .skills .skills-boxes {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px;
  }

  .skills .skills-boxes .box {
    padding: 21px;
    background: #212121;
    border-radius: 10px;
  }

  .skills .skills-boxes .box img {
    width: 48px;
    height: 48px;
  }

  .final {
    margin: 56px 0 0;
    padding: 12px 0;
  }

  .final h1 {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .menu .menu-ul-menu-hamburguer li a {
    font-size: 12px;
  }
}
